
@import url("filter.css");

@import url("query.css");

@import url("gp.css");

.jimu-widget-querybuilder {
  position: relative;
  width: 100%;
  height: 100%;
}

.jimu-widget-querybuilder .widget-container {
  position: relative;
  width: 100%;
  height: 100%;
}
